<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Digiteer Rails", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <li><%= link_to "Home", root_path, class: 'dropdown-item' %></li>

          </li>
      </ul>
      <!-- Move the dropdown to the right -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path, class: 'dropdown-item' %></li>
              <li><%= link_to "Log In", new_user_session_path, class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
